.main {
     display: flex;
    height: 100vh; /* Full viewport height */
}

/* .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #18db49cc;
    z-index: 1;
} */

.f1{
   font-family: Kumar system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: medium;
   color: aliceblue;
} 

.f2 {
    font-family: "Luckiest Guy", serif;
    font-weight: 400;
    font-style: normal;
    color: #2962FF;
  }


.diva, .divb {
    flex: 1; /* Each div takes equal space */
}

.diva{
    background-color: #403D4F;
}

.divb{
    
    background-image: url(images/bg1.jpg);
    background-position: center;
    background-size: cover;
    
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A7C6F7;
}

.nav-links{
    margin-right: 50px;
    padding-left: 100px;
    color: #535FE5;
}

.searchbar{
    width: 200px;
}


